
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="/products/1">Baseball</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/products/3">Basketball</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/products/2">Soccer</a>
                </li>
                    
                {% endif %}
            
            
            
            
            </ul>
            <ul class="navbar-nav ms-auto">
                
                {% if current_user.is_authenticated %}
                
                  <li class="nav-item">
                    <a class="text-reset me-3" href="/cart">
                        <i class="nav-link fas fa-shopping-cart"></i>
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        
    </div>
    </div>
</nav>