{% extends 'base.html' %}

{% block content %}

<h3>Update Contact: {{ post.name }}</h3>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.name.label }}
            {{ form.name(class='form-control', value=post.name) }}
        </fieldset>
        <fieldset>
            {{ form.last_name.label }}
            {{ form.last_name(class='form-control', value=post.last_name) }}
        </fieldset>
        <fieldset>
            {{ form.phone.label }}
            {{ form.phone(class='form-control', value=post.phone) }}
        </fieldset>
        {{ form.submit(class='btn btn-success') }}
    </div>
</form>

{% endblock content %}